/Domino-Piece/DominoPiece/nbproject/private/
/Domino-Piece/Dominio_Domino/nbproject/private/
/Domino-Piece/Dominio_Domino/dist/
/Domino-Piece/Dominio_Domino/build/
/Domino-Piece/DominoPiece/build/
/Domino-Piece/DominoPiece/dist/
/Domino-Piece/DominioPiece_PipeAndFilters/nbproject/private/
/Domino-Piece/Dominio_DominoDTO/nbproject/private/
/Domino-Piece/DominoPieceServer/build/
/Domino-Piece/DominoPieceServer/nbproject/private/
/Domino-Piece/Dominio_DominoDTO/build/
/Domino-Piece/Dominio_DominoDTO/dist/
/Domino-Piece/DominioPiece_PipeAndFilters/build/
/Domino-Piece/DominioPiece_PipeAndFilters/dist/
/Domino-Piece/DominoPieceServer/dist/
/Domino-Piece/DominioPF/nbproject/private/
/Domino-Piece/Eventos/nbproject/private/
/Domino-Piece/Eventos/dist/
/Domino-Piece/Eventos/build/
